<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <!-- <import resource="classpath: applicationBase.xml"/>
    <import resource="classpath: applicationBean.xml"/>-->
    <!--或者 用通配符，但是通配符子配置文件不能和父配置文件同名-->
    <import resource="classpath:application*.xml"/>
</beans>