<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="test" class="demo.School" >
        <property name="name" value="清华大学"></property>
        <property name="adress" value="北京"></property>
    </bean>
  <!--  <bean id="test1" class="demo.School" >
        <property name="name" value="北京大学"></property>
        <property name="adress" value="北京"></property>
    </bean>-->
    <!--域属性的自动注入-->
    <!--autowire="byType"会自动查找与实体类的域名属性类型具有is-a关系的bean并将该bean的属性自动注入给该域属性-->
    <bean id="myservice" class="demo.SpringTestImpl" autowire="byType">
        <property name="schools" >
            <array>
                <ref bean="test"></ref>
            </array>
        </property>
    </bean>
</beans>