<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--p命名空间-->
    <bean id="school" class="demo.School" p:name="清华大学" p:adress="北京">
    </bean>
    <bean id="myservice" class="demo.SpringTestImpl" p:name="小三" p:age="12" p:school-ref="school">
    </bean>
</beans>