<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--c命名空间-->
    <bean id="school" class="demo.School" >
        <property name="name" value="清华大学"></property>
        <property name="adress" value="北京"></property>
    </bean>
    <bean id="myservice" class="demo.SpringTestImpl" c:name="小三" c:age="12" c:school-ref="school">
    </bean>
</beans>