<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--注册bean接口实现-->
       <bean id="myservice" class="demo.SpringTestImpl"/>
        <!--注册切面:前置通知-->
       <bean id="myadvice" class="demo.MyMethodBeforeAdvice"/>
        <!--注册切面:后置通知-->
        <bean id="myafter" class="demo.MyMethodAfterAdvice"/>
        <!--注册切面:顾问-->
        <!--正则表达式-->
        <bean id="myAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
            <property name="advice" ref="myadvice"/>
           <!--这里正则标识的是权限定性方法名-->
            <!--<property name="pattern" value=".*doFirst"/>-->
            <property name="patterns" value=".*doFirst,.*doSecond"/>
        </bean>
        <!--注册自动代理生成器-->
        <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
        <!--DefaultAdvisorAutoProxyCreator存在的问题
         1.不能选择目标对象
         2.不能选择切面类型，只能是advisor
         3.不能选择顾问所有顾问均被作为切面织入目标方法
         -->
</beans>